In [1]:
from datetime import datetime, timedelta
import math
# import pyodbc as odbc
import pandas as pd
pd.set_option('display.max_columns', 50)

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px

from plotly.subplots import make_subplots
import plotly.graph_objects as go

# from getpass import getpass, getuser
from functools import reduce

# Connecting to System to retrieve data

In [ ]:
# uid = 'DOMINA_CONSULTA'
# pw = getpass(prompt='Password: ', stream=None)

In [ ]:
# domina_connection = odbc.connect("DSN=DOMINA_PRODUCTION;UID=" + uid + ";PWD=" +pw, autocommit = True)

In [ ]:
# query_text = """
#  SELECT y.FEC_HORA_INI, e.nom_elemento,e.cod_elemento, i.nom_instalacion, y.BIN_YAW, sum(y.pot_media) AS "Sum_Of_Avg_W_In_Bin", RANK() OVER (PARTITION BY y.FEC_HORA_INI, e.nom_elemento,e.cod_elemento, i.nom_instalacion ORDER BY sum(y.pot_media) DESC ) AS "Yaw_Bin_Rank"
#     FROM DOMINAGE.R_DATOS_YMA y
#         inner join DOMINAGE.DGE_INSTALACIONES i
#             ON i.cod_instalacion = y.cod_instalacion
#         inner join DOMINAGE.DGE_ELEMENTOS e
#             ON e.cod_elemento = y.cod_elemento
    
#     WHERE FEC_HORA_FIN BETWEEN TO_DATE('2020-11-01','yyyy-mm-dd') AND TO_DATE('2020-11-01','yyyy-mm-dd') AND y.tiempo_total >= 100 AND BIN_VIENTO IN ('(6, 9]','(9, 12]','(3, 6]') AND
#     i.nom_instalacion IN ('BLUE CREEK', 'SOUTH CHESTNUT', 'WINNEBAGO I', 'URKILLA',
#        'MOUNTAIN VIEW III', 'JUNIPER CANYON', 'ALMENDROS I', 'ARIZONA I',
#        'CABRAS', 'CAETITE I', 'CAETITE II', 'CAETITE III', 'CALANGO I',
#        'CALANGO II', 'CALANGO III', 'CALANGO IV', 'CALANGO V',
#        'CALANGO VI', 'CANOAS', 'DOS ARBOLITOS', 'LAGOA I', 'LAGOA II',
#        'MEL II', 'SANTANA I', 'SANTANA II', 'ALBUREJOS', 'ALOGORACHIS',
#        'ALTAMIRA', 'ALTO DE LA DEGOLLADA', 'ALTO MONÇAO', 'ALVAO',
#        'AMUNDSEN', 'ARACHNAIO II', 'ARECLEOCH', 'ARGAÑOSO', 'BADAIA',
#        'BII NEE STIPA', 'BOLAÑOS', 'BORDECOREX NORTE', 'BULLANA',
#        'BUREBA', 'CABEZAS', 'CAMPILLOS', 'CANALEJAS', 'CANDAL',
#        'CANTALOJAS', 'CAPIRUZA I', 'CARRASCOSA', 'CARRASQUILLO', 'CARRIL',
#        'CATEFICA', 'CAÑONERAS', 'CENTENAR', 'CERRO BLANCO',
#        'CERRO HIGUERA', 'CHAMBON', 'CHIMICHE II', 'CHORREADEROS BAJOS',
#        'COLLADOS', 'CONESA II', 'CORTIJO LINERA', 'COTERA',
#        'COTEREJON II', 'CRUZ DE CARRUTERO', 'CUEZA', 'DESERT WIND',
#        'DOLAR III', 'DOS PUEBLOS', 'DOÑA BENITA', 'DUEÑAS', 'ENTREDICHO',
#        'ESPARTAL', 'FERREIRA II', 'FUENDETODOS II', 'FUENTESALADA',
#        'GOIA PEÑOTE', 'GOMERA', 'GRADO', 'GRIJOTA', 'HAY CANYON',
#        'HONTALBILLA I', 'HONTALBILLA II', 'HUENEJA III', 'ISLETES',
#        'LABRADAS', 'LAROUCO', 'LIRIOS', 'MAGDALENA', 'MAJAL ALTO',
#        'MEIRA', 'MIHAI VITEAZU', 'MONTE TREITO', 'MONTECARRIO',
#        'MORON DE ALMAZAN', 'MUELA CUBILLO', 'NACIMIENTO', 'NAVAZO',
#        'NEW HARVEST', 'OIZ', 'PARAMO VEGA', 'PEBBLE SPRINGS', 'PEDREGAL',
#        'PENA DA CRUZ', 'PEÑAFLOR III', 'PEÑAFLOR IV', 'PIER II',
#        'PORTELRUBIO', 'PUERTO DE MALAGA', 'RADONA I', 'RADONA II',
#        'RETUERTA', 'ROMERAL', 'SABINA', 'SAUCITO', 'SAVALLA', 'SEGREDAL',
#        'SERRA DO BURGO', 'SIERRA DE ALCARAMA II', 'SIERRA DE DUEÑA',
#        'SIERRA MENERA', 'SIERRO', 'SOMBRIO', 'SOMOLINOS',
#        'TACICA DE PLATA', 'TALLISCA', 'TARAYUELA', 'TARDIENTA II',
#        'TERUELO', 'TORRECILLA', 'URBEL DEL CASTILLO II', 'VALBONILLA',
#        'VALDECARRION', 'VALDEFUENTES', 'VALDELANAVE', 'VALDEPERONDO',
#        'VALDEPORRES', 'VALMEDIANO', 'VENTA III', 'VENTOSA DEL DUCADO',
#        'VENZO', 'VIEIRO', 'VILLALAZAN', 'VIVEIRO', 'VIÑAS', 'DOLAR I',
#        'HIJES', 'ZORRERAS', 'SIL AMPLIACION', 'ELGEA',
#        'CHORREADEROS ALTOS', 'FUENDETODOS I', 'BLACK LAW II', 'BARTON I',
#        'BIG HORN II', 'BUFFALO RIDGE II', 'CAYUGA RIDGE', 'DRY LAKE I',
#        'GLEN APP', 'HARDSCRABBLE', 'MORAINE II', 'PROVIDENCE HEIGHTS',
#        'STAR POINT', 'TWIN BUTTES II', 'BUEY', 'PINILLA',
#        'ATALAYA DE LA SOLANA', 'CAMPALBO', 'CERRO VICENTE II', 'CRUZ I',
#        'MONTE MOLON', 'PICO COLLALBAS', 'RUGBY', 'KISIGMAND',
#        'HARE HILL II', 'VIRGEN DE BELEN I', 'SIL', 'EL CABO',
#        'ALMENDROS II', 'CAPIRUZA II', 'SIERRA DE ALCARAMA I', 'BARTON II',
#        'LEANING JUNIPER IIA', 'CERRO REVOLCADOR', 'GAVILANES AMPLIACION',
#        'CERRO VICENTE I', 'CRUZ II', 'MIRA', 'BARTON CHAPEL',
#        'CERRO DE LA SILLA', 'REVENTONES', 'CSOMA I', 'CSOMA II',
#        'CASSELMAN', 'CLARES', 'COLORADO GREEN', 'DRY LAKE II',
#        'DEERFIELD', 'ESCALON', 'GROTON', 'CABEZUELO', 'LEMPSTER',
#        'TOP OF IOWA II', 'LUZON NORTE', 'LAYNA', 'BAFFIN BAY',
#        'MARANCHON I', 'MARANCHON IV', 'MARANCHON SUR', 'SCOTT',
#        'ELK RIVER', 'WHITELEE II', 'HARESTANES', 'BEINN THARSUINN',
#        'CLACHAN FLATS', 'MARK HILL')
#    group by y.FEC_HORA_INI, e.nom_elemento,e.cod_elemento, i.nom_instalacion, y.BIN_YAW
# """

In [ ]:
# input_data = pd.read_sql(query_text,
#                        domina_connection)

In [ ]:
# input_data.shape

In [ ]:
# query2_text = """
#   SELECT dfa.nom_fabricante "OEM", dm.nom_modelo "Model", di.nom_instalacion "Site", de.nom_elemento, de.cod_elemento
#      FROM DOMINAGE.dge_modelos dm
#      inner join DOMINAGE.dge_fabricantes dfa
#             ON dm.cod_fabricante = dfa.cod_fabricante
#         inner join DOMINAGE.dge_elementos de 
#             ON de.cod_modelo = dm.cod_modelo
#         inner join dominage.dge_instalaciones di 
#             ON de.cod_instalacion = di.cod_instalacion
# """

In [ ]:
# oem_data = pd.read_sql(query2_text,
#                        domina_connection)

In [ ]:
oem_data = pd.read_csv("oem_data.csv")
input_data = pd.read_csv("input_data.csv")

input_data.drop(["Unnamed: 0"], axis=1, inplace=True)
oem_data.drop(["Unnamed: 0"], axis=1, inplace=True)

In [3]:
oem_data = pd.read_csv("../data/oem_data.csv")
oem_data.head()

   Unnamed: 0     OEM       Model   Site NOM_ELEMENTO  COD_ELEMENTO
0           0  GAMESA  G52-850 kW  HIJES          A13        1025.0
1           1  GAMESA  G47-660 kW  HIJES          A17        1026.0
2           2  GAMESA  G52-850 kW  HIJES          A05        1028.0
3           3  GAMESA  G52-850 kW  HIJES          A07        1029.0
4           4  GAMESA  G52-850 kW  HIJES          A03        1030.0

In [5]:
oem_data.shape

(14040, 6)

In [7]:
oem_data.columns

Index(['Unnamed: 0', 'OEM', 'Model', 'Site', 'NOM_ELEMENTO', 'COD_ELEMENTO'], dtype='object')

In [9]:
oem_data.drop('Unnamed: 0' , axis=1 , inplace=True)

In [10]:
oem_data.head()

      OEM       Model   Site NOM_ELEMENTO  COD_ELEMENTO
0  GAMESA  G52-850 kW  HIJES          A13        1025.0
1  GAMESA  G47-660 kW  HIJES          A17        1026.0
2  GAMESA  G52-850 kW  HIJES          A05        1028.0
3  GAMESA  G52-850 kW  HIJES          A07        1029.0
4  GAMESA  G52-850 kW  HIJES          A03        1030.0

In [21]:
input_data = pd.read_csv("../data/input_data.csv")
input_data.head()

,Unnamed: 0,FEC_HORA_INI,NOM_ELEMENTO,COD_ELEMENTO,NOM_INSTALACION,BIN_YAW,Sum_Of_Avg_W_In_Bin,Yaw_Bin_Rank
0,0,2020-10-01,002,11267.0,BLUE CREEK,"(26, Infinito]",2819.48,1.0
1,1,2020-10-01,003,11268.0,BLUE CREEK,"(26, Infinito]",2991.07,1.0
2,2,2020-10-01,004,11269.0,BLUE CREEK,"(26, Infinito]",2932.53,1.0
3,3,2020-10-01,005,11270.0,BLUE CREEK,"(26, Infinito]",2937.90,1.0
4,4,2020-10-01,007,11271.0,BLUE CREEK,"(26, Infinito]",2915.70,1.0

In [22]:
input_data.drop('Unnamed: 0' , axis=1 , inplace=True)

In [23]:
input_data.head()

,FEC_HORA_INI,NOM_ELEMENTO,COD_ELEMENTO,NOM_INSTALACION,BIN_YAW,Sum_Of_Avg_W_In_Bin,Yaw_Bin_Rank
0,2020-10-01,002,11267.0,BLUE CREEK,"(26, Infinito]",2819.48,1.0
1,2020-10-01,003,11268.0,BLUE CREEK,"(26, Infinito]",2991.07,1.0
2,2020-10-01,004,11269.0,BLUE CREEK,"(26, Infinito]",2932.53,1.0
3,2020-10-01,005,11270.0,BLUE CREEK,"(26, Infinito]",2937.90,1.0
4,2020-10-01,007,11271.0,BLUE CREEK,"(26, Infinito]",2915.70,1.0

In [ ]:
# Using dictionary to create a new dataframe for yaw_angle

In [13]:
yaw_angle_data=pd.DataFrame(
    {
        "yaw.bin" : ["(-Infinito, -26]","(-26, -22]","(-22, -18]","(-18, -14]","(-14, -10]","(-10, -6]","(-6, -2]","(-2, 2]","(2, 6]","(6, 10]","(10, 14]","(14, 18]","(18, 22]","(22, 26]","(26, Infinito]"],
        "Angle" : [-26,-24,-20,-16,-12,-8,-4,0,4,8,12,16,20,24,26]
    }
)

In [ ]:
# renaming dataaframes

In [24]:
yaw_data = input_data

# Merging the Yaw_data with yaw_angle_data

In [ ]:
yaw_data = pd.merge(yaw_data, yaw_angle_data, left_on="BIN_YAW", right_on="yaw.bin", how="left").drop(["yaw.bin"], axis=1)

In [ ]:
# Dropping column "Nom elemento" from oem data

In [25]:
oem_data.drop(["NOM_ELEMENTO"], axis=1, inplace=True)

# Merging Oem dataframe with Yaw_dataframe

In [26]:
oem_yaw_data = pd.merge(yaw_data, oem_data, left_on="COD_ELEMENTO", right_on="COD_ELEMENTO", how="left")
oem_yaw_data

,FEC_HORA_INI,NOM_ELEMENTO,COD_ELEMENTO,NOM_INSTALACION,BIN_YAW,Sum_Of_Avg_W_In_Bin,Yaw_Bin_Rank,OEM,Model,Site
0,2020-10-01,002,11267.0,BLUE CREEK,"(26, Infinito]",2819.48,1.0,GAMESA,G90-LM-2.0 MW,BLUE CREEK
1,2020-10-01,003,11268.0,BLUE CREEK,"(26, Infinito]",2991.07,1.0,GAMESA,G90-LM-2.0 MW,BLUE CREEK
2,2020-10-01,004,11269.0,BLUE CREEK,"(26, Infinito]",2932.53,1.0,GAMESA,G90-LM-2.0 MW,BLUE CREEK
3,2020-10-01,005,11270.0,BLUE CREEK,"(26, Infinito]",2937.90,1.0,GAMESA,G90-LM-2.0 MW,BLUE CREEK
4,2020-10-01,007,11271.0,BLUE CREEK,"(26, Infinito]",2915.70,1.0,GAMESA,G90-LM-2.0 MW,BLUE CREEK
...,...,...,...,...,...,...,...,...,...,...
57259,2020-10-01,Z5,10009.0,LEANING JUNIPER IIA,"(14, 18]",2718.96,11.0,SUZLON,S88-2.1 MW,LEANING JUNIPER IIA
57260,2020-10-01,Z5,10009.0,LEANING JUNIPER IIA,"(-Infinito, -26]",2693.18,12.0,SUZLON,S88-2.1 MW,LEANING JUNIPER IIA
57261,2020-10-01,Z5,10009.0,LEANING JUNIPER IIA,"(26, Infinito]",2644.22,13.0,SUZLON,S88-2.1 MW,LEANING JUNIPER IIA
57262,2020-10-01,Z5,10009.0,LEANING JUNIPER IIA,"(18, 22]",2525.33,14.0,SUZLON,S88-2.1 MW,LEANING JUNIPER IIA
57263,2020-10-01,Z5,10009.0,LEANING JUNIPER IIA,"(22, 26]",2448.83,15.0,SUZLON,S88-2.1 MW,LEANING JUNIPER IIA

### Query data based on the Yaw_Bin_Rank = 1.0 (alert)

In [32]:
oem_yaw_rank1 = oem_yaw_data[oem_yaw_data["Yaw_Bin_Rank"] == 1.0]
oem_yaw_rank1

,FEC_HORA_INI,NOM_ELEMENTO,COD_ELEMENTO,NOM_INSTALACION,BIN_YAW,Sum_Of_Avg_W_In_Bin,Yaw_Bin_Rank,OEM,Model,Site
0,2020-10-01,002,11267.0,BLUE CREEK,"(26, Infinito]",2819.48,1.0,GAMESA,G90-LM-2.0 MW,BLUE CREEK
1,2020-10-01,003,11268.0,BLUE CREEK,"(26, Infinito]",2991.07,1.0,GAMESA,G90-LM-2.0 MW,BLUE CREEK
2,2020-10-01,004,11269.0,BLUE CREEK,"(26, Infinito]",2932.53,1.0,GAMESA,G90-LM-2.0 MW,BLUE CREEK
3,2020-10-01,005,11270.0,BLUE CREEK,"(26, Infinito]",2937.90,1.0,GAMESA,G90-LM-2.0 MW,BLUE CREEK
4,2020-10-01,007,11271.0,BLUE CREEK,"(26, Infinito]",2915.70,1.0,GAMESA,G90-LM-2.0 MW,BLUE CREEK
...,...,...,...,...,...,...,...,...,...,...
57189,2020-10-01,Z-5,15669.0,EL CABO,"(14, 18]",3552.95,1.0,GAMESA,G114-2.1 MW,EL CABO
57204,2020-10-01,Z1,10005.0,LEANING JUNIPER IIA,"(-10, -6]",2802.96,1.0,SUZLON,S88-2.1 MW,LEANING JUNIPER IIA
57219,2020-10-01,Z3,10007.0,LEANING JUNIPER IIA,"(-26, -22]",2788.93,1.0,SUZLON,S88-2.1 MW,LEANING JUNIPER IIA
57234,2020-10-01,Z4,10008.0,LEANING JUNIPER IIA,"(-10, -6]",2854.87,1.0,SUZLON,S88-2.1 MW,LEANING JUNIPER IIA
57249,2020-10-01,Z5,10009.0,LEANING JUNIPER IIA,"(-18, -14]",2856.13,1.0,SUZLON,S88-2.1 MW,LEANING JUNIPER IIA

### 1) What alerts are active ?

### Plotting all the Windfarms and OEM Model in Yaw misalignment range